html, body, .container-fluid {
    height: 100%;
}

.containerRow {
    height: 70%;
}

.container {
    width:80%;
}

#menuPanel {
    padding-top: 50px;
    overflow: auto;
    background-color: aliceblue;
    height: 100%;
}

.icerikSutun {
    padding-top: 80px;
    margin-top:50px;
    height: 100%;
    background-color: white;
}

#icerikPanel {
    display: table;
    height: 100%;
    width: 100%;
}

.baslikContainer {
    display: table-row;
}

.txtBaslikContainer {
    padding: 5px 0px;
}

.icerikContainer {
    display: table-row;
    height: 100%;
}

.txtIcerikContainer {
    height: 100%;
    padding: 5px 0px;
}

#txtIcerik {
    height: 100%;
    resize: none;
}

.buttonContainer {
    padding: 5px 0px 10px 0px;
    text-align: right;
}

.statusDiv {
    float: left;
    padding-top: 5px;
}

#statusMessage {
    display: none;
}

header .arkaplan {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /*align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}
